<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>memo Form</title>
</head>
<body>
    <h1>Measurement Form</h1>

    <!-- Annetaan formin sisälle measurement objektin arvot. Voidaan sitten käyttää formin eri kentissä suoraan measurement objektilta saatuja arvoja. -->
    <form th:object="${measurement}" th:action="${id} ? @{/ui/edit/{id}(id=${id})} : @{/ui/new}"
          th:method="${id} ? 'PUT' : 'POST'">
    <label for="id">ID:</label>
        <!-- Tähti (*) -merkeillä viitataan objektin arvoihin -->
        <input type="text" id="id" th:field="*{id}" readonly />
        <br/>


        <label for="unit">Unit:</label>
        <textarea id="unit" required="required" th:field="*{unit}"></textarea>
        <br/>

        <label for="value">Value:</label>
        <textarea id="value" required="required" th:field="*{value}"></textarea>
        <br/>

        <label for="location">Location:</label>
        <textarea id="location" required="required" th:field="*{location}"></textarea>
        <br/>

        <button type="submit">Save</button>
    </form>
    <a href="/ui">Back to memo List</a>
</body>
</html>